{% extends "base.html" %}

{% block title %}Energy Monitoring System{% endblock title %}

{% block style %}
<link rel="stylesheet" href="../static/css/stylesheet-home.css">
{% endblock style %}

{% block content %}
    <a type="button" href="/add_new" class="btn rounded-pill m-4 pt-0 position-fixed top-5 end-0" style="background-color: #ffab5d;">
        <span class="fs-4">+ </span><span>Add New</span>
    </a>
    <div class="row justify-content-center my-5 py-5 text-center">
        <a href='/equipment_overview' class="option-container col-2 p-3 m-3 rounded-4">
            <img src="../static/images/logo-equipment.png" width="70%">
            <hr>
            <h4>Equipments</h4>
        </a>
        <a href='/display_operators' class="option-container col-2 p-3 m-3 rounded-4">
            <img src="../static/images/logo-operator.png" width="70%">
            <hr>
            <h4>Operators</h4>
        </a>
        <a href='/display_energy_usage' class="option-container col-2 p-3 m-3 rounded-4">
            <img src="../static/images/logo-energy-usage.png" width="70%">
            <hr>
            <h4>Energy Usage</h4>
        </a>
        <a href='/display_companies' class="option-container col-2 p-3 m-3 rounded-4">
            <img src="../static/images/logo-company.png" width="70%">
            <hr>
            <h4>Companies</h4>
        </a>        
    </div>
{% endblock content %}