{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container rounded-5 m-5 p-3" style="background-color: #fcdbbc60; width: 25rem;">
        <form class="p-3" action="/" method="POST">
            <h3 class="text-center">Sign in</h3>
            <hr>
            <div class="mb-3">
                <label class="form-label mx-2" for="inputUsername">Username</label>
                <input id="inputUsername" class="form-control rounded-pill" type="text" name="username" placeholder="Username" required>    
            </div>
            <div class="mb-3">
                <label class="form-label mx-2" for="inputPassword">Password</label>
                <input id="inputPassword" class="form-control rounded-pill" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="my-4">
                <button class="btn btn-dark rounded-pill w-100" type="submit">Log in</button>
            </div>
            <p class="text-center">Don't have an account? <a href="/signup">Sign Up</a></p>
        </form>
    </div>
</div>
{% endblock content %}